APP_TITLE=Фонд поддержки котов QRKot
DESCRIPTION=Сервис для благотворительного фонда QRKot

DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=CHANGE_ME_TO_A_RANDOM_SECRET
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=change_me_password

YANDEX_DISK_TOKEN=<ваш OAuth-токен Яндекс Диска>
